[Unit]
Description=Catalogo Produtos

[Service]
WorkingDirectory=/var/www/
ExecStart=/usr/bin/dotnet /var/www/CatalogoProdutos.dll
Restart=always

RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=webapi
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://*:80

[Install]
WantedBy=multi-user.target